<div class="p-grid p-dir-col">
  <div class="p-grid">
    <ng-container *ngFor="let playerUpgrade of getUpgradesForRow(1)">
      <div class="p-col box">
        <app-player-upgrade
          [playerUpgrade]="playerUpgrade"
          (upgradeBought)="upgradeBought($event)"
        ></app-player-upgrade>
      </div>
    </ng-container>
  </div>
  <div class="p-grid">
    <ng-container *ngFor="let playerUpgrade of getUpgradesForRow(2)">
      <div class="p-col box">
        <app-player-upgrade
          [playerUpgrade]="playerUpgrade"
          (upgradeBought)="upgradeBought($event)"
        ></app-player-upgrade>
      </div>
    </ng-container>
  </div>
  <div class="p-grid">
    <div class="spacer">
      There are 2 types of upgrades: BASE and ALL
      <p>BASE upgrades applies to your base coding power</p>
      <p>
        ALL upgrades applies to the final amount of lines created after applying
        all modifiers. This stacks with other ALL modifiers
      </p>
    </div>
  </div>
</div>
